.div1{
    width: 550px !important;;
    position: absolute;
    top: 320px; left: 170px;
 }
.div2{
    width:550px;
    position: absolute;
    top: 320px; left: 800px;
 }
 .accordion-button{
     background-color: rgba(245, 242, 235, 0.925) !important;
     color:rgb(206, 111, 43) !important
    }
    .container{
        padding-left:80px !important;
    }
    .erreur{
        font-size:15px;
        color:red
    }
    .succes{
        font-size:15px;
        color:green;
    }
 