.nav-link {
    padding-left: 50px !important;
    font-weight: 500;
    font-size: 20px;
  }
   
  .bg-light {
    
  }
  .navbar-expand {
    border: lightgray solid 2px !important;
    border-radius: 2px;
    border-top: none;
   }
  .navbar-brand {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgba(197, 91, 21, 0.836) !important;
    font-size: 30px;
  }