
.divcustom{
    padding-left: 20px;
    width:350px;
}
.divparent{
    width:800px; 
    padding-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
      
  }
  #span{
      color:white;
      background-color: chocolate;
      text-align: center;
      width:100px;
  }
  .classauteur{
      color:gray;
      font-size: 15px !important;
  }
  .colorinfo{
    color:chocolate;
}
.trait{
    border-top: 2px solid #000;
width : 320px;
}
   